{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} | Change PassWord {% endblock %}

{% block content %}
<div style=" margin-top: 30px; margin-bottom: 20px;">
<div class="container" style="margin: 0 auto; width: 450px; background: silver; border-radius: 5px; margin-top: 70px; padding: 30px; border: 2px green;">
  <h2>Change Password</h2>
  {% if not user.has_usable_password %}
    <p style="color: red">You have not defined a password yet.</p>
  {% endif %}
  <div class="">
  <form method="post">
  <div class ="form-group">
    {% csrf_token %}
    {{ form|crispy }}

    <button class="btn btn-primary col-md-6" type="submit" style="height: 60px; font-size: 23px;"><i class="fa fa-save"></i>  Save changes</button>
    </div>
  </form>
  </div>
   </div>
    </div>
{% endblock %}
